{
  "presets": [
    "latest", "es2015", "stage-0",
    ["env", {
      "modules": false
    }]
  ],
  "plugins": ["transform-object-rest-spread",
    ["transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }]
    ]
}
