@import './variables.styl'
@import './components/footer.styl'
@import './components/home.styl'
@import './components/nav.styl'
@import './components/productList.styl'


#app
  height 100%
  width 90%
  position absolute
  margin auto
  left 0
  right 0
  margin 0 auto
  grid-template-rows auto 85% auto
  grid-template-areas:
  "header"\
  "main"\
  "footer"\

html
  height 100%

body
  box-sizing border-box
  margin 0
  padding 0
  width: 100%
  height: 100%

#nav
  position absolute

#footer
  position fixed
  bottom 0
  background-color white
