@import './variables.styl'
@import './components/footer.styl'
@import './components/home.styl'
@import './components/nav.styl'
@import './components/productList.styl'

body
  box-sizing border-box
  margin 0
  padding 0

li a
  text-decoration none
  list-style none

#app
  min-height 100vh
  width 90%
  margin 0 auto
