@import url('https://fonts.googleapis.com/css?family=Muli');

//Fonts
Muli = 'Muli', sans-serif;

//Colors
pale-green = rgb(210, 221, 184)
med-light-green = rgb(168, 189, 118)
soft-green = rgb(147, 172, 87)
dark-green = rgb(75, 87, 47)
darker-green = rgb(42, 47, 28)

gray-font = rgb(135, 135, 135)
