// Styling for Footer
@import '../variables.styl'

#footer
  position absolute
  right 0
  bottom 0
  left 0
  text-align center
  ul
    display inline-flex
    li
      list-style none
      a
        color gray-font
        font-size 1.2rem
        padding 0 1rem
        text-decoration none
      a:hover
        color soft-green
