// Styling for Home Page
@import '../variables.styl'

#home
  max-height 1080px
  height 100%
  text-align center
  font-family Muli
  color dark-green
  display grid
  grid-template-rows 60% 5% 5% 1fr
  align-items center
  img
    height 50vh
    width auto
    margin auto
  h1
    font-size 2rem
  p
    font-size 1.5rem
  a
    border 2px solid gray-font
    border-radius 4px
    margin 3rem auto
    padding 2rem 3.5rem
    color gray-font
    font-size 1.3rem
    text-decoration none
    :hover
      border-color soft-green
      color soft-green
