// Styling for Home Page
@import '../variables.styl'

#home
  max-height 1080px
  text-align center
  font-family Muli
  color dark-green
  img
    height 30rem
    width auto
    margin auto
  h1
    font-size 1.8rem
  p
    font-size 1.4rem

  .link-wrapper
    display flex
    justify-content center
    width fit-content
    width -moz-fit-content
    border 2px solid gray-font
    border-radius 4px
    margin 3rem auto
    a
      color gray-font
      font-size 1.2rem
      text-decoration none
      margin auto
      padding 1rem 2rem

  .link-wrapper:hover
    border 2px solid soft-green
    color soft-green
    cursor pointer
    .link-wrapper a
      color soft-green

  .link-wrapper a:hover
    color soft-green
