// Styling for Product list
@import '../variables.styl'

.product-list-wrapper
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-auto-rows auto

.product-box
  border solid darker-green 2px
  img
    width 90%
    margin auto
